node_modules
.vscode
config.json
*.dem
*.bz2
test.js
manualLogin.js
cases
data
extension/steam/build
extension/steam/steam_api*dll
extension/steam/sdk/*
extension/steam/sdk/public/steam/lib
extension/steam/sdk/public/steam/*.json
!extension/steam/sdk/redistributable_bin/**/steam_api*.lib
!extension/steam/sdk/public
!extension/steam/sdk/redistributable_bin
