{
	"account": {
		"username": "ExampleUsername",
		"password": "ExamplePassword",
		"sharedSecret": ""
	},
	"parsing": {
		"maxTicks": 10,
		"threshold": 1.0
	},
	"verdict": {
		"writeLog": true,
		"maxVerdicts": 0,
		"maxAimbot": 20
	}
}